{% extends 'base.iframe.html.twig' %}

{% block body %}
    <button id="connect" style="
        background: #EB5B0C;
        padding: 10px 15px;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;">
        UPEM Connect
    </button>
{% endblock %}

{% block javascripts %}
    <script>
        var c = "{{ connected }}";

        function call() {
            var xml = new XMLHttpRequest();

            xml.onreadystatechange = function() {
                if (xml.readyState != XMLHttpRequest.DONE ) {
                    return;
                }

                if (xml.status == 200) {
                    if (!window.top) return;

                    var data = xml.responseText;
                    try {
                        data = JSON.parse(data);
                    } catch (e) {}

                    window.top.postMessage(data, window.top.document.URL);
                }
            };

            xml.open("GET", "{{ path('token') }}", true);
            xml.send();
        }

        window.addEventListener("message", function(event) {
            call();
        });

        document.getElementById("connect").addEventListener("click", function () {
            if (!c) {
                return window.open(
                        "{{ path("auth") }}",
                        "dd",
                        'scrollbars=yes, width=' + 800 + ', height=' + 400
                );
            }

            call();
        });
    </script>
{% endblock %}
