{% extends 'base.iframe.html.twig' %}

{% block body %}
    <button id="connect">
        Log in with U-PEM
    </button>
{% endblock %}

{% block javascripts %}
    <script>
        function call() {
            var xml = new XMLHttpRequest();
            xml.responseType = "json";

            xml.onreadystatechange = function() {
                if (xml.readyState == XMLHttpRequest.DONE && xml.status == 200 && window.top != window) {
                    window.top.postMessage(xml.response, window.top.document.URL);
                }
            };

            xml.open("GET", "{{ path('api_token') }}", true);
            xml.send();
        }

        window.addEventListener("message", function() {
            call();
        });

        document.getElementById("connect").addEventListener("click", function () {
            {% if app.user %}
                call();
            {% else %}
                window.open(
                    "{{ path("auth") }}",
                    "UPEM Connect",
                    'scrollbars=yes, width=' + 800 + ', height=' + 400
                );
            {% endif %}
        });
    </script>
{% endblock %}
