{% extends 'base.iframe.html.twig' %}

{% block body %}
    <button id="connect" style="
        background: #EB5B0C;
        padding: 10px 15px;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;">
        UPEM Connect
    </button>
{% endblock %}

{% block javascripts %}
    <script>
        function call() {
            var xml = new XMLHttpRequest();
            xml.responseType = "json";

            xml.onreadystatechange = function() {
                if (xml.readyState == XMLHttpRequest.DONE && xml.status == 200 && window.top != window) {
                    var data = {
                        type: "receiveToken",
                        data: xml.response.token,
                        target: "{{ target }}"
                    };

                    window.top.postMessage(data, window.top.document.URL);
                }
            };

            xml.open("GET", "{{ path('api_token') }}", true);
            xml.send();
        }

        window.addEventListener("message", function() {
            call();
        });

        document.getElementById("connect").addEventListener("click", function () {
            if ("{{ connected }}") {
                window.open("{{ path("auth") }}", "UPEM Connect", 'scrollbars=yes, width=' + 800 + ', height=' + 400);
                return;
            }

            call();
        });
    </script>
{% endblock %}
