{% extends 'base.iframe.html.twig' %}

{% block body %}
    <div style="margin: 0 auto; text-align: center;">
        <button id="continue" style="
            background: #FB9F32;
            border: none;
            padding: 15px;
            color: white;
            cursor: pointer;">
            Continue as {{ app.user.username }}
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var src = window.opener;
        var btn = document.getElementById("continue");

        btn.addEventListener("click", function () {
            if (src) src.postMessage({{ response|json_encode|raw }}, src.document.URL);
        });
    </script>
{% endblock %}
