parameters:
    database_driver: pdo_pgsql
    database_host: sqletud.u-pem.fr
    database_port: null
    database_name: login_db
    database_user: login
    database_password: pass
    secret: SECRET
    ldap_host: 'ldap://ldap.host.fr'
    private.key.path: ~
    private.key.passphrase: ~
    public.key.path: ~
