{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Allow Service</h1>

            <p class="bg-danger text-center">
                <b>CAUTION !</b><br/>

                You are about to allow a service to use your account. Please be careful.
                This service will have access to your uid, name, lastname, email and student number.

                <br/>

                <b>Only allow service you trust</b>
            </p>

            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-4"></div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption text-center">
                    <h3>{{ service.name }}</h3>
                    <hr>
                    <p>{{ service.description }}</p>
                    <p><a href="{{ service.url }}" class="btn btn-primary" role="button">Link</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
