{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Create a service</h1>

            <p>Here you will be able to create a service ! Please submit all the field.</p>

            <p class="bg-warning">
                When submit a UID & RSA-KEY will be print to your screen. <b>SAVE THEM</b> because, for security concern, it will be
                the first and last time they will be delivered to you.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
