{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-success">Your service has been created</h1>

            <p class="bg-danger">
                <b>CAUTION !</b> for security concern, those information are
                for the first and <b>last time</b> delivered to you. <b>THEY WILL NEVER BE PRINT AGAIN !</b>
            </p>

            {% if privateKey %}
                <p class="bg-success">
                    SAVE THIS PRIVATE KEY
                </p>

                <pre>{{ privateKey }}</pre>
            {% endif %}

            {% if service.uid %}
                <p class="bg-success">
                    SAVE THIS UID
                </p>

                <pre>{{ service.uid }}</pre>
            {% endif %}
        </div>
    </div>
{% endblock %}
