{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-success">Your service has been created</h1>

            <p class="bg-danger">
                <b>CAUTION !</b> for security concern, those information are
                for the first and <b>last time</b> delivered to you. <b>THEY WILL NEVER BE PRINT AGAIN !</b>
            </p>

            <p class="bg-success">
                SAVE THIS PRIVATE KEY (keep it secret)
            </p>
            <pre>{{ privateKey }}</pre>


            <p class="bg-success">
                SAVE THIS PRIVATE UID (keep it secret)
            </p>
            <pre>{{ service.uid }}</pre>

            <p class="bg-success">
                SAVE THIS PUBLIC UID
            </p>
            <pre>{{ service.publicUid }}</pre>
        </div>
    </div>
{% endblock %}
